.container-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.card {
  background: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  min-width: 320px;
}